$green: #c3e7d4;
$orange: #ddcac5;
$blue: #353448;
$gray: rgb(103, 101, 121);

body {
  font-family: 'Roboto', sans-serif;
  background-color: $blue;
  color: #fff;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}
.draw{
  animation: drawAnimate 0.5s infinite;
  @keyframes drawAnimate {
    0% {
      font-size: 1.5rem;
    }
    
    50% {
      font-size: 2rem;
    }
  
    100% {
      font-size: 1.5rem;
    }
  }
}

.history-wrapper {
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  .history {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      text-align: left;
      &:before {
        content: '';
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        width: 5px;
        background-color: $green;
        margin-right: 4px;
        margin-bottom: 1px;
      }

      .btn-move {
    	  color: #fff;
        &.active {
          font-weight: bold;
          color: $green;
        }
      }
    }
  }
}

.status-message {
  color: #e5e4ec;
	margin-bottom: 50px;
  margin-top: 0px;
	font-size: 2rem;
	font-weight:lighter;
	span {
	  font-weight: normal;
	}
}
.btns{
  display: flex;
  gap: 40px;
}
.btn-extra{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 50px;
  border: 3px solid rgb(255, 255, 255);
  opacity: 0.4;
  background-color: #5ddc9a;
}
.btn-restart{
  background-color: rgb(245, 215, 215);
}
.undo-img, .restart-img{
  height: 30px;
}

.btn-reset {
  font-size: 0.8rem;
  color: #fff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 25px;
  transition: all 0.2s;
  background-color: $blue;
  box-shadow: 0px 0px 0px 1px $orange;
  &.active {
    background-color: $orange;
    box-shadow: none;
  }
}

.board {
  background-color: #414054;
  padding: 20px;
  border-radius: 10px;
  animation: scaleDiv 0.5s ;
  @keyframes scaleDiv {
    0% {
      padding: 20px;
    }
    
    50% {
      padding: 25px;
    }
  
    100% {
      padding: 20px;
    }
  }
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fff;
    &:last-child {
      border-bottom: none;
    }
    .square {
      // color: $gray;
      width: 80px;
      height: 80px;
      border-right: 2px solid #fff;
      font-size: 3rem;
      font-weight: bold;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
      &:last-child {
        border-right: none;
      }
      &.winning {
	    animation: scaleText 0.8s infinite;
	    @keyframes scaleText {
	      0% {
	        font-size: 2.8rem;
	      }
	      50% {
	        font-size: 3.5rem;
	      }
	      100% {
	        font-size: 2.8rem;
	      }
	    }
	  }
    }
  }
}

.bg-balls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &:before {
    background-color: $orange;
    right: -75px;
    bottom: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      right: -110px;
      bottom: -110px;
    }
  }

  &:after {
    background-color: $green;
    top: -75px;
    left: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      top: -110px;
      left: -110px;
    }
  }
}

footer{
  left: 30px;
  position: absolute;
  bottom: 0;
  align-self: flex-start;
  .logo{
    height: 22px;
    width: 29px;
    margin-bottom: -18px;
  }
  div{
    color: #48475e;
    margin-bottom: -8px;
  }
  .copyright{
    font-size: 14px;
  }
}

